* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
    /*snow*/
    background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%); 
}

/*snow start*/
.snow {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.layer1 {
  width: 1.5rem;
  height: 1.5rem;
  filter: blur(1.5px);
  box-shadow: 92.3vw 65.5vh 0 -0.18rem#fff,14.9vw 0.6vh 0 -0.38rem#fff,92.5vw 79.6vh 0 -0.3rem#fff,73.7vw 73.6vh 0 -0.21rem#fff,86.1vw 7.3vh 0 -0.33rem#fff,22.7vw 25.4vh 0 -0.19rem#fff,14.9vw 42.3vh 0 -0.09rem#fff,80.6vw 60.7vh 0 -0.35rem#fff,76.1vw 81.6vh 0 -0.42rem#fff,32.6vw 38.4vh 0 -0.4rem#fff,95.4vw 13.2vh 0 -0.38rem#fff,67.1vw 85vh 0 -0.16rem#fff,67vw 68.2vh 0 -0.47rem#fff,64.2vw 20.5vh 0 -0.04rem#fff,15vw 30vh 0 -0.36rem#fff,45.2vw 39.3vh 0 -0.08rem#fff,90.4vw 95.3vh 0 -0.19rem#fff,40.7vw 90.9vh 0 -0.06rem#fff,81vw 18.7vh 0 -0.4rem#fff,96.6vw 79.5vh 0 -0.14rem#fff,44.4vw 36.4vh 0 -0.26rem#fff,90.2vw 91.7vh 0 -0.28rem#fff,3.8vw 26vh 0 -0.3rem#fff,4.1vw 58.3vh 0 -0.05rem#fff,42.2vw 67.8vh 0 -0.34rem#fff,49.4vw 89.1vh 0 -0.39rem#fff,90.4vw 14.5vh 0 -0.3rem#fff,51.2vw 32.5vh 0 -0.04rem#fff,76.6vw 61vh 0 -0.43rem#fff,10.9vw 90.3vh 0 -0.35rem#fff,35.7vw 23.1vh 0 -0.26rem#fff,13.6vw 46.6vh 0 -0.2rem#fff,92.1vw 55.8vh 0 -0.28rem#fff,43.2vw 56.5vh 0 -0.2rem#fff,11.7vw 55.2vh 0 -0.5rem#fff,32.3vw 27.7vh 0 -0.2rem#fff,63vw 75.1vh 0 -0.08rem#fff,30.4vw 47.2vh 0 -0.42rem#fff,63.6vw 83.3vh 0 -0.32rem#fff,55.5vw 39.9vh 0 -0.08rem#fff,14.1vw 38.5vh 0 -0.42rem#fff,27.7vw 92.8vh 0 -0.49rem#fff,51.8vw 89.8vh 0 -0.17rem#fff,56.1vw 36.5vh 0 -0.21rem#fff,95.6vw 9.1vh 0 -0.1rem#fff,85.7vw 17.3vh 0 -0.48rem#fff,97.2vw 60.9vh 0 -0.38rem#fff,71.9vw 15.9vh 0 -0.43rem#fff,10.6vw 84.7vh 0 -0.16rem#fff,20.2vw 8vh 0 -0.09rem#fff,82.1vw 51.1vh 0 -0.36rem#fff,44.8vw 99.2vh 0 -0.44rem#fff,12.6vw 63.9vh 0 -0.31rem#fff,87.1vw 78.7vh 0 -0.47rem#fff,86.1vw 68.3vh 0 -0.34rem#fff,71.3vw 97.5vh 0 -0.12rem#fff,87vw 18.1vh 0 -0.34rem#fff,76.9vw 41.6vh 0 -0.02rem#fff,62.8vw 3.2vh 0 -0.02rem#fff,83.8vw 26.6vh 0 -0.3rem#fff,54.4vw 97.4vh 0 -0.42rem#fff,26.6vw 23.9vh 0 -0.18rem#fff,2.5vw 69.5vh 0 -0.42rem#fff,25.8vw 91.9vh 0 -0.32rem#fff,47.4vw 6vh 0 -0.25rem#fff,4vw 42.5vh 0 -0.26rem#fff,85.1vw 66.3vh 0 -0.31rem#fff,42.9vw 98.5vh 0 -0.07rem#fff,61.9vw 30.2vh 0 -0.18rem#fff,71.6vw 44.1vh 0 -0.4rem#fff,66.3vw 41.6vh 0 -0.19rem#fff,52.5vw 88.9vh 0 -0.11rem#fff,96.2vw 65.2vh 0 -0.11rem#fff,81.9vw 10.8vh 0 -0.43rem#fff,86.1vw 18vh 0 -0.2rem#fff,80.1vw 96.1vh 0 -0.21rem#fff,31vw 25.6vh 0 -0.01rem#fff,99.6vw 84.8vh 0 -0.44rem#fff,67vw 65.1vh 0 -0.46rem#fff,33.2vw 62.5vh 0 -0.16rem#fff,54.5vw 34.9vh 0 -0.03rem#fff,39.9vw 36.3vh 0 -0.27rem#fff,77.7vw 32vh 0 -0.42rem#fff,59.7vw 80.3vh 0 -0.4rem#fff,56.7vw 34.6vh 0 -0.24rem#fff,38.6vw 98.9vh 0 -0.17rem#fff,48.1vw 73.6vh 0 -0.29rem#fff,39.9vw 89.6vh 0 -0.37rem#fff,84.2vw 5.2vh 0 -0.05rem#fff,23.5vw 92.4vh 0 -0.12rem#fff,21.8vw 56vh 0 -0.09rem#fff,62.6vw 40.8vh 0 -0.43rem#fff,16.9vw 56.6vh 0 -0.01rem#fff,63.9vw 80.9vh 0 -0.18rem#fff,34.6vw 89.2vh 0 -0.17rem#fff,83.5vw 14.2vh 0 -0.33rem#fff,96.8vw 59vh 0 -0.33rem#fff,58vw 28.6vh 0 -0.41rem#fff,64.4vw 68.5vh 0 -0.27rem#fff,6.2vw 71.3vh 0 -0.24rem#fff,71.3vw 70.1vh 0 -0.24rem#fff,53.6vw 38.2vh 0 -0.01rem#fff,95.6vw 58.4vh 0 -0.41rem#fff,48.1vw 30.6vh 0 -0.21rem#fff,66vw 91vh 0 -0.42rem#fff,35.2vw 50.1vh 0 -0.07rem#fff,11.4vw 65.4vh 0 -0.38rem#fff,18.2vw 59vh 0 -0.05rem#fff,50.8vw 76.2vh 0 -0.37rem#fff,71vw 99.5vh 0 -0.37rem#fff,86.5vw 12.5vh 0 -0.3rem#fff,26.9vw 4.9vh 0 -0.27rem#fff,15.5vw 51.7vh 0 -0.05rem#fff,96vw 94.2vh 0 -0.25rem#fff,80.7vw 41.8vh 0 -0.02rem#fff,29.5vw 83vh 0 -0.18rem#fff,86.2vw 14.3vh 0 -0.38rem#fff,81.5vw 51.4vh 0 -0.2rem#fff,47.7vw 43.2vh 0 -0.01rem#fff,68.8vw 23vh 0 -0.03rem#fff,10.5vw 94.5vh 0 -0.45rem#fff,59.6vw 33.1vh 0 -0.38rem#fff,13vw 15.7vh 0 -0.26rem#fff,75vw 38.9vh 0 -0.14rem#fff,53.2vw 6.5vh 0 -0.36rem#fff,95.5vw 89.6vh 0 -0.07rem#fff,69.3vw 34.5vh 0 -0.27rem#fff,12.8vw 49.1vh 0 -0.23rem#fff,94.9vw 18.3vh 0 -0.23rem#fff,56vw 57.9vh 0 -0.39rem#fff,41.1vw 39.8vh 0 -0.27rem#fff,81.1vw 42.4vh 0 -0.19rem#fff,72vw 53.5vh 0 -0.45rem#fff,28.2vw 30.8vh 0 -0.05rem#fff,84.4vw 14.3vh 0 -0.35rem#fff,43.2vw 58.3vh 0 -0.24rem#fff,23.8vw 18.2vh 0 -0.09rem#fff,45.3vw 51.2vh 0 -0.23rem#fff,92vw 8.3vh 0 -0.09rem#fff,0.2vw 41.6vh 0 -0.22rem#fff,98.6vw 90.5vh 0 -0.34rem#fff,45.7vw 10.7vh 0 -0.06rem#fff,62.5vw 64.9vh 0 -0.03rem#fff,66.6vw 71.6vh 0 -0.33rem#fff,99.3vw 62.9vh 0 -0.01rem#fff,60.2vw 97.8vh 0 -0.44rem#fff,96.5vw 81.3vh 0 -0.42rem#fff,22vw 59.2vh 0 -0.13rem#fff,87vw 24.8vh 0 -0.06rem#fff,53.1vw 53.5vh 0 -0.47rem#fff,83.7vw 82.6vh 0 -0.09rem#fff,44.9vw 21.2vh 0 -0.36rem#fff,65.1vw 90.8vh 0 -0.12rem#fff,67vw 28.2vh 0 -0.33rem#fff,87vw 31.9vh 0 -0.3rem#fff,46.5vw 33.1vh 0 -0.43rem#fff,66.2vw 88vh 0 -0.22rem#fff,18vw 36.3vh 0 -0.15rem#fff,26.7vw 89.2vh 0 -0.46rem#fff,59.9vw 11.8vh 0 -0.07rem#fff,97.1vw 95vh 0 -0.06rem#fff,58.5vw 37.6vh 0 -0.32rem#fff,81.4vw 33.8vh 0 -0.36rem#fff,90.1vw 29.3vh 0 -0.42rem#fff,85.7vw 87vh 0 -0.08rem#fff,36.4vw 77.1vh 0 -0.26rem#fff,30.9vw 82.1vh 0 -0.15rem#fff,33.3vw 31.4vh 0 -0.24rem#fff,6.3vw 51.8vh 0 -0.42rem#fff,39.3vw 97.3vh 0 -0.5rem#fff,23.5vw 89.9vh 0 -0.05rem#fff,32.3vw 13.3vh 0 -0.21rem#fff,99.5vw 92.5vh 0 -0.07rem#fff,43.7vw 86.3vh 0 -0.11rem#fff,59.2vw 10.3vh 0 -0.28rem#fff,65.3vw 4.2vh 0 -0.16rem#fff,9vw 92.8vh 0 -0.35rem#fff,44.7vw 37.3vh 0 -0.2rem#fff,73.4vw 34.2vh 0 -0.36rem#fff,55.6vw 6.8vh 0 -0.08rem#fff,74.4vw 94.8vh 0 -0.32rem#fff,49.6vw 60.1vh 0 -0.46rem#fff,81.7vw 50.3vh 0 -0.23rem#fff,15vw 98.6vh 0 -0.21rem#fff,73.6vw 73.3vh 0 -0.45rem#fff,77.6vw 58.5vh 0 -0.26rem#fff,8.2vw 35.1vh 0 -0.14rem#fff,86.1vw 45.5vh 0 -0.14rem#fff,19vw 89.8vh 0 -0.33rem#fff,18.6vw 58.8vh 0 -0.26rem#fff,71.5vw 9.9vh 0 -0.02rem#fff,45vw 23.2vh 0 -0.41rem#fff,49.3vw 49.5vh 0 -0.16rem#fff,73vw 71.4vh 0 -0.31rem#fff,51.9vw 68.6vh 0 -0.25rem#fff,31.2vw 14.6vh 0 -0.2rem#fff,13.1vw 48.5vh 0 -0.02rem#fff,83.1vw 73.7vh 0 -0.17rem#fff,46.2vw 74.8vh 0 -0.46rem#fff,33.5vw 30.7vh 0 -0.18rem#fff,59vw 97.7vh 0 -0.23rem#fff,19.8vw 97.2vh 0 -0.2rem#fff,35.2vw 24vh 0 -0.03rem#fff,13.4vw 4.2vh 0 -0.31rem#fff,29.5vw 91vh 0 -0.12rem#fff,43.2vw 78.4vh 0 -0.16rem#fff,60vw 84.3vh 0 -0.47rem#fff,99.2vw 41.1vh 0 -0.46rem#fff,26vw 17vh 0 -0.23rem#fff,90vw 60.6vh 0 -0.48rem#fff,61.9vw 29.1vh 0 -0.32rem#fff,98.8vw 5.4vh 0 -0.5rem#fff,88.8vw 3.8vh 0 -0.42rem#fff,92.6vw 18.6vh 0 -0.46rem#fff,94.6vw 76.7vh 0 -0.34rem#fff,49.6vw 33.1vh 0 -0.05rem#fff,55.9vw 83.4vh 0 -0.26rem#fff,34.6vw 28.9vh 0 -0.04rem#fff,43.9vw 54.6vh 0 -0.3rem#fff,56.7vw 43.4vh 0 -0.06rem#fff,57.1vw 14.6vh 0 -0.38rem#fff,76.3vw 15.1vh 0 -0.31rem#fff,9.8vw 74.5vh 0 -0.26rem#fff,75.3vw 38.7vh 0 -0.29rem#fff,64.4vw 53.6vh 0 -0.13rem#fff,39.6vw 97.9vh 0 -0.01rem#fff,15.4vw 0.3vh 0 -0.15rem#fff,33.2vw 7.3vh 0 -0.11rem#fff,25.3vw 55.1vh 0 -0.17rem#fff,84.7vw 90.7vh 0 -0.31rem#fff,63.3vw 81vh 0 -0.26rem#fff,15.8vw 58.9vh 0 -0.45rem#fff,93.2vw 56.5vh 0 -0.03rem#fff,93.2vw 54vh 0 -0.41rem#fff,7.3vw 45.2vh 0 -0.33rem#fff,87.9vw 11vh 0 -0.09rem#fff,6vw 9.4vh 0 -0.16rem#fff,8.1vw 63.1vh 0 -0.32rem#fff,13.3vw 67.7vh 0 -0.01rem#fff,51.3vw 9.1vh 0 -0.16rem#fff,47.5vw 16vh 0 -0.23rem#fff,87.3vw 2.2vh 0 -0.22rem#fff,5vw 90.8vh 0 -0.44rem#fff,45.6vw 51.3vh 0 -0.22rem#fff,65.8vw 0.3vh 0 -0.19rem#fff,1.9vw 41.9vh 0 -0.32rem#fff,82.9vw 42.7vh 0 -0.13rem#fff,94.9vw 80.1vh 0 -0.09rem#fff,18vw 24.9vh 0 -0.29rem#fff,97.5vw 20.6vh 0 -0.39rem#fff,36.3vw 81.2vh 0 -0.39rem#fff,99.3vw 19.6vh 0 -0.29rem#fff,70.3vw 67.3vh 0 -0.11rem#fff,14vw 79.8vh 0 -0.04rem#fff,23.2vw 81.4vh 0 -0.25rem#fff,3.5vw 28.1vh 0 -0.46rem#fff,99.4vw 61.2vh 0 -0.32rem#fff,85.9vw 34.1vh 0 -0.14rem#fff,72.3vw 2.7vh 0 -0.2rem#fff,86.6vw 6.4vh 0 -0.23rem#fff,17.3vw 54.7vh 0 -0.27rem#fff,86.3vw 97.8vh 0 -0.21rem#fff,55.3vw 56.8vh 0 -0.14rem#fff,97.3vw 86.5vh 0 -0.06rem#fff,75.2vw 14.8vh 0 -0.19rem#fff,44.1vw 68vh 0 -0.11rem#fff,25.1vw 4vh 0 -0.07rem#fff,95.6vw 9.2vh 0 -0.35rem#fff,88.1vw 32.6vh 0 -0.38rem#fff,49.1vw 50.7vh 0 -0.05rem#fff,71.3vw 69.3vh 0 -0.25rem#fff,52.5vw 60.3vh 0 -0.48rem#fff,46.4vw 58.8vh 0 -0.35rem#fff,0.3vw 30.4vh 0 -0.06rem#fff,68.7vw 21.7vh 0 -0.03rem#fff,18.7vw 11.6vh 0 -0.02rem#fff,42.4vw 83.8vh 0 -0.14rem#fff,10.3vw 19vh 0 -0.44rem#fff,98.2vw 66vh 0 -0.31rem#fff,58.8vw 92.7vh 0 -0.25rem#fff,2.9vw 42.9vh 0 -0.36rem#fff,52vw 44.4vh 0 -0.24rem#fff,98.3vw 77.4vh 0 -0.33rem#fff,9.8vw 95.2vh 0 -0.31rem#fff,88.8vw 58vh 0 -0.2rem#fff,9vw 32vh 0 -0.26rem#fff,3.1vw 30.7vh 0 -0.08rem#fff,10.2vw 77.3vh 0 -0.35rem#fff,65.6vw 46.8vh 0 -0.38rem#fff,48.5vw 91.9vh 0 -0.23rem#fff,99.6vw 74.3vh 0 -0.3rem#fff,7.7vw 38.8vh 0 -0.37rem#fff,0.5vw 52.8vh 0 -0.47rem#fff,10.7vw 3.8vh 0 -0.35rem#fff,11.5vw 8.3vh 0 -0.39rem#fff,49.5vw 44.9vh 0 -0.23rem#fff,32.2vw 7.1vh 0 -0.38rem#fff,9.7vw 56.1vh 0 -0.31rem#fff,77.6vw 31.4vh 0 -0.47rem#fff,5.7vw 57.6vh 0 -0.17rem#fff;
  animation-duration: 6s;
}

.layer1.a {
  animation-delay: -3s;
}

.layer2 {
  width: 1.2rem;
  height: 1.2rem;
  filter: blur(3px);
  box-shadow: 43.6vw 98.6vh 0 -0.33rem#fff,29.3vw 13.5vh 0 -0.47rem#fff,72.9vw 55.4vh 0 -0.04rem#fff,88.9vw 61.5vh 0 -0.45rem#fff,22.6vw 52.8vh 0 -0.24rem#fff,41.8vw 57.5vh 0 -0.19rem#fff,1.5vw 71vh 0 -0.48rem#fff,56.2vw 69vh 0 -0.38rem#fff,13.5vw 21.7vh 0 -0.46rem#fff,68.4vw 66.3vh 0 -0.01rem#fff,49.1vw 88.8vh 0 -0.47rem#fff,99.1vw 5.8vh 0 -0.26rem#fff,24.5vw 54.4vh 0 -0.24rem#fff,62.1vw 8.3vh 0 -0.49rem#fff,68vw 44vh 0 -0.21rem#fff,58.9vw 25.7vh 0 -0.46rem#fff,88.1vw 16.1vh 0 -0.44rem#fff,98.1vw 70.4vh 0 -0.23rem#fff,63.5vw 19.1vh 0 -0.23rem#fff,19.6vw 13.5vh 0 -0.36rem#fff,79.7vw 76.9vh 0 -0.03rem#fff,53.5vw 49.3vh 0 -0.37rem#fff,92.9vw 18.6vh 0 -0.13rem#fff,24.4vw 93.4vh 0 -0.39rem#fff,1.1vw 38.6vh 0 -0.06rem#fff,80vw 40.5vh 0 -0.19rem#fff,87.3vw 53.5vh 0 -0.35rem#fff,4.3vw 87.9vh 0 -0.29rem#fff,73.5vw 82vh 0 -0.28rem#fff,70.6vw 44.8vh 0 -0.41rem#fff,91.8vw 93vh 0 -0.27rem#fff,53.9vw 78.2vh 0 -0.07rem#fff,59.8vw 8.7vh 0 -0.29rem#fff,43.5vw 8.4vh 0 -0.34rem#fff,88.2vw 37.6vh 0 -0.39rem#fff,65vw 97.6vh 0 -0.47rem#fff,52.4vw 81.6vh 0 -0.14rem#fff,33vw 12vh 0 -0.1rem#fff,35.2vw 27.7vh 0 -0.23rem#fff,45.5vw 67.2vh 0 -0.24rem#fff,41.5vw 10vh 0 -0.17rem#fff,52.5vw 89.3vh 0 -0.32rem#fff,65.3vw 21.6vh 0 -0.08rem#fff,87.9vw 99.1vh 0 -0.41rem#fff,10.8vw 61.5vh 0 -0.35rem#fff,94.9vw 50.8vh 0 -0.05rem#fff,77.1vw 50.4vh 0 -0.01rem#fff,73.9vw 76vh 0 -0.05rem#fff,77.8vw 82.6vh 0 -0.34rem#fff,80.3vw 1.3vh 0 -0.32rem#fff,61.3vw 79.1vh 0 -0.4rem#fff,56.5vw 44.1vh 0 -0.49rem#fff,84.3vw 13.5vh 0 -0.36rem#fff,65.6vw 47.7vh 0 -0.42rem#fff,50.4vw 48.9vh 0 -0.23rem#fff,2.3vw 78.5vh 0 -0.14rem#fff,74.5vw 44.1vh 0 -0.25rem#fff,75.8vw 23.4vh 0 -0.07rem#fff,81.1vw 50.5vh 0 -0.1rem#fff,55.5vw 17.7vh 0 -0.31rem#fff,54.4vw 99.3vh 0 -0.41rem#fff,22.2vw 97.7vh 0 -0.3rem#fff,14.7vw 67.2vh 0 -0.06rem#fff,17.3vw 7vh 0 -0.04rem#fff,27.5vw 31.5vh 0 -0.15rem#fff,29.1vw 40.3vh 0 -0.41rem#fff,21.1vw 72.2vh 0 -0.08rem#fff,90.9vw 82.2vh 0 -0.21rem#fff,70.6vw 91.5vh 0 -0.24rem#fff,46.1vw 82.3vh 0 -0.35rem#fff,93.8vw 10.8vh 0 -0.38rem#fff,41.4vw 5.5vh 0 -0.16rem#fff,5.1vw 91.5vh 0 -0.38rem#fff,3.6vw 25.5vh 0 -0.18rem#fff,96.6vw 61.4vh 0 -0.39rem#fff,37.7vw 55.3vh 0 -0.3rem#fff,62vw 11.9vh 0 -0.24rem#fff,0.7vw 27.2vh 0 -0.43rem#fff,65.4vw 37.1vh 0 -0.43rem#fff,59.6vw 22.4vh 0 -0.47rem#fff,45.5vw 41.4vh 0 -0.33rem#fff,93.8vw 46.4vh 0 -0.33rem#fff,16.5vw 83.5vh 0 -0.07rem#fff,74.7vw 77.2vh 0 -0.3rem#fff,97.7vw 33.2vh 0 -0.16rem#fff,22.5vw 85.3vh 0 -0.13rem#fff,47.1vw 31.2vh 0 -0.25rem#fff,31.9vw 5.6vh 0 -0.37rem#fff,65.4vw 96.6vh 0 -0.28rem#fff,42.3vw 99.7vh 0 -0.06rem#fff,30.9vw 82.9vh 0 -0.24rem#fff,45.6vw 45.2vh 0 -0.47rem#fff,86.7vw 55.1vh 0 -0.05rem#fff,62.1vw 95.7vh 0 -0.44rem#fff,55.1vw 39.6vh 0 -0.36rem#fff,35.2vw 31.7vh 0 -0.13rem#fff,75.4vw 74.8vh 0 -0.06rem#fff,75.5vw 78.2vh 0 -0.04rem#fff,34.5vw 64.9vh 0 -0.24rem#fff,54.4vw 78.3vh 0 -0.06rem#fff,25.1vw 35.6vh 0 -0.04rem#fff,26.7vw 13.2vh 0 -0.2rem#fff,41.1vw 42.9vh 0 -0.05rem#fff,37.6vw 25.4vh 0 -0.14rem#fff,74.6vw 60.1vh 0 -0.26rem#fff,14.7vw 72.4vh 0 -0.2rem#fff,48vw 59.7vh 0 -0.22rem#fff,26.7vw 66.5vh 0 -0.11rem#fff,50.2vw 65vh 0 -0.28rem#fff,94.2vw 88.4vh 0 -0.49rem#fff,54.8vw 96.1vh 0 -0.41rem#fff,69vw 74.2vh 0 -0.27rem#fff,30.6vw 68.3vh 0 -0.19rem#fff,86vw 50.9vh 0 -0.17rem#fff,72.9vw 77.2vh 0 -0.03rem#fff,40.3vw 60.6vh 0 -0.05rem#fff,23.2vw 86.6vh 0 -0.13rem#fff,57.2vw 63.3vh 0 -0.19rem#fff,42vw 68vh 0 -0.1rem#fff,85.9vw 37.9vh 0 -0.24rem#fff,14vw 11.5vh 0 -0.01rem#fff,79.7vw 93.2vh 0 -0.45rem#fff,74.2vw 44.1vh 0 -0.11rem#fff,22.4vw 82.3vh 0 -0.08rem#fff,72vw 89.4vh 0 -0.06rem#fff,82.6vw 70.3vh 0 -0.1rem#fff,15.6vw 22.9vh 0 -0.37rem#fff,49.2vw 2.9vh 0 -0.32rem#fff,1.7vw 6.2vh 0 -0.23rem#fff,30vw 11.4vh 0 -0.39rem#fff,37.9vw 85.1vh 0 -0.03rem#fff,16.6vw 2.5vh 0 -0.34rem#fff,17.8vw 60.3vh 0 -0.18rem#fff,7vw 81.7vh 0 -0.5rem#fff,95.8vw 57.6vh 0 -0.11rem#fff,22.2vw 12.8vh 0 -0.28rem#fff,83.6vw 16.8vh 0 -0.48rem#fff,9.2vw 40.5vh 0 -0.25rem#fff,24.1vw 8vh 0 -0.22rem#fff,60.8vw 1.9vh 0 -0.01rem#fff,47.3vw 74.5vh 0 -0.04rem#fff,74.4vw 35.6vh 0 -0.33rem#fff,59.9vw 93.7vh 0 -0.22rem#fff,77.7vw 62.6vh 0 -0.41rem#fff,55.5vw 76.8vh 0 -0.42rem#fff,83.6vw 20.3vh 0 -0.17rem#fff,73.4vw 65.2vh 0 -0.18rem#fff,80.3vw 69.9vh 0 -0.27rem#fff,93.3vw 74.7vh 0 -0.36rem#fff,24.7vw 89.7vh 0 -0.27rem#fff,86.4vw 55.4vh 0 -0.43rem#fff,58.6vw 42.8vh 0 -0.43rem#fff,20.8vw 45.4vh 0 -0.43rem#fff,30.9vw 7.6vh 0 -0.15rem#fff,9vw 74vh 0 -0.28rem#fff,39.5vw 4.1vh 0 -0.17rem#fff,89.4vw 79.4vh 0 -0.37rem#fff,1.5vw 78.6vh 0 -0.02rem#fff,89.9vw 9.4vh 0 -0.13rem#fff,15.9vw 22.7vh 0 -0.08rem#fff,48.7vw 83.3vh 0 -0.03rem#fff,14.9vw 34.5vh 0 -0.5rem#fff,49.3vw 59.2vh 0 -0.17rem#fff,9.3vw 17.1vh 0 -0.29rem#fff,62.5vw 71.2vh 0 -0.48rem#fff,59vw 58.8vh 0 -0.23rem#fff,13.3vw 83vh 0 -0.13rem#fff,2.6vw 55.3vh 0 -0.13rem#fff,78.1vw 85.2vh 0 -0.15rem#fff,95.8vw 44.7vh 0 -0.01rem#fff,2.3vw 64.2vh 0 -0.08rem#fff,9.4vw 67.4vh 0 -0.09rem#fff,28.7vw 76.5vh 0 -0.32rem#fff,46vw 46.6vh 0 -0.37rem#fff,25.9vw 95.3vh 0 -0.43rem#fff,79.3vw 86.6vh 0 -0.07rem#fff,34.2vw 93.8vh 0 -0.41rem#fff,87.7vw 9.8vh 0 -0.44rem#fff,16.7vw 13vh 0 -0.15rem#fff,24.1vw 60.8vh 0 -0.28rem#fff,44.2vw 24.7vh 0 -0.07rem#fff,3.2vw 65.5vh 0 -0.11rem#fff,74.5vw 16.7vh 0 -0.48rem#fff,54.6vw 79.2vh 0 -0.17rem#fff,82.1vw 2.3vh 0 -0.23rem#fff,84.6vw 66vh 0 -0.31rem#fff,58.3vw 78.4vh 0 -0.02rem#fff,26.7vw 96.8vh 0 -0.37rem#fff,19.1vw 64.8vh 0 -0.15rem#fff,14.5vw 73.6vh 0 -0.5rem#fff,5.3vw 63vh 0 -0.38rem#fff,3.5vw 58vh 0 -0.3rem#fff,33.1vw 83.8vh 0 -0.32rem#fff,1.4vw 15.6vh 0 -0.07rem#fff,30.6vw 52.3vh 0 -0.41rem#fff,25.9vw 97.9vh 0 -0.04rem#fff,9.8vw 97.6vh 0 -0.23rem#fff,74.3vw 93.9vh 0 -0.37rem#fff,22.1vw 66.9vh 0 -0.43rem#fff,71.1vw 21.9vh 0 -0.02rem#fff,50.2vw 64.5vh 0 -0.36rem#fff,26.1vw 98.5vh 0 -0.06rem#fff,29.4vw 11.2vh 0 -0.26rem#fff,70.2vw 61.5vh 0 -0.3rem#fff,24.1vw 93.2vh 0 -0.43rem#fff,85vw 67.6vh 0 -0.21rem#fff,67.5vw 23.3vh 0 -0.4rem#fff,63.1vw 92.6vh 0 -0.48rem#fff,57.5vw 82.8vh 0 -0.44rem#fff,90.8vw 64.7vh 0 -0.05rem#fff,49.6vw 62.4vh 0 -0.25rem#fff,87.1vw 62.3vh 0 -0.42rem#fff,76.1vw 63.7vh 0 -0.05rem#fff,62.9vw 14.8vh 0 -0.33rem#fff,91.9vw 68.6vh 0 -0.49rem#fff,27.9vw 27.5vh 0 -0.39rem#fff,26.2vw 88.6vh 0 -0.14rem#fff,40vw 0.6vh 0 -0.45rem#fff,79.7vw 34.4vh 0 -0.15rem#fff,27.7vw 6.6vh 0 -0.15rem#fff,33.6vw 43.3vh 0 -0.04rem#fff,43.3vw 87.2vh 0 -0.47rem#fff,47.4vw 27.9vh 0 -0.04rem#fff,73.4vw 86.2vh 0 -0.5rem#fff,56.5vw 87.2vh 0 -0.26rem#fff,32.5vw 4.4vh 0 -0.31rem#fff,37.1vw 87.3vh 0 -0.23rem#fff,62.9vw 62.6vh 0 -0.07rem#fff,27.5vw 78.6vh 0 -0.12rem#fff,41.9vw 81.9vh 0 -0.3rem#fff,92.4vw 73.6vh 0 -0.22rem#fff,42vw 82.3vh 0 -0.41rem#fff,28vw 40.5vh 0 -0.17rem#fff,80.6vw 77.9vh 0 -0.14rem#fff,85vw 94.8vh 0 -0.23rem#fff,45.3vw 63.3vh 0 -0.14rem#fff,58.2vw 98.3vh 0 -0.13rem#fff,38.2vw 35.1vh 0 -0.07rem#fff,35.7vw 37.2vh 0 -0.22rem#fff,56.4vw 26.7vh 0 -0.09rem#fff,98.4vw 0.2vh 0 -0.08rem#fff,3.2vw 43.7vh 0 -0.29rem#fff,8.1vw 96.3vh 0 -0.3rem#fff,74.7vw 71.6vh 0 -0.02rem#fff,70vw 17.9vh 0 -0.47rem#fff,25.9vw 60.9vh 0 -0.02rem#fff,6.2vw 89.3vh 0 -0.08rem#fff,58.3vw 49.3vh 0 -0.22rem#fff,79.9vw 28.9vh 0 -0.3rem#fff,74.8vw 10.5vh 0 -0.2rem#fff,49.4vw 40vh 0 -0.31rem#fff,18.8vw 62.3vh 0 -0.2rem#fff,11.2vw 11.1vh 0 -0.25rem#fff,53.5vw 90.7vh 0 -0.06rem#fff,73.1vw 92.8vh 0 -0.47rem#fff,88.4vw 29.3vh 0 -0.41rem#fff,22.9vw 72.7vh 0 -0.24rem#fff,34.7vw 25vh 0 -0.25rem#fff,67.3vw 15vh 0 -0.21rem#fff,91.4vw 46.5vh 0 -0.27rem#fff,13.7vw 86.6vh 0 -0.15rem#fff,3.3vw 61vh 0 -0.34rem#fff,94vw 32.5vh 0 -0.17rem#fff,40.6vw 11vh 0 -0.3rem#fff,76.2vw 73.1vh 0 -0.35rem#fff,14.9vw 3.4vh 0 -0.47rem#fff,70.1vw 21vh 0 -0.28rem#fff,33.4vw 95.7vh 0 -0.5rem#fff,60.6vw 93.6vh 0 -0.48rem#fff,81.3vw 9.6vh 0 -0.49rem#fff,52.6vw 10.5vh 0 -0.16rem#fff,16vw 44.7vh 0 -0.4rem#fff,5vw 22vh 0 -0.27rem#fff,57.9vw 90.6vh 0 -0.34rem#fff,95.8vw 41.6vh 0 -0.35rem#fff,35.1vw 34.6vh 0 -0.5rem#fff,75.5vw 31vh 0 -0.1rem#fff,76.2vw 53.1vh 0 -0.4rem#fff,26.2vw 15.4vh 0 -0.36rem#fff,10.2vw 26.8vh 0 -0.02rem#fff,83.7vw 14.2vh 0 -0.08rem#fff,5.3vw 17.1vh 0 -0.02rem#fff,98vw 66.4vh 0 -0.41rem#fff,57.4vw 48.8vh 0 -0.12rem#fff,2.6vw 27.6vh 0 -0.22rem#fff,46.8vw 86.3vh 0 -0.33rem#fff,41.7vw 13.2vh 0 -0.27rem#fff,70.6vw 0.3vh 0 -0.44rem#fff,27.4vw 39.8vh 0 -0.17rem#fff,20vw 9.2vh 0 -0.5rem#fff,1.7vw 35.5vh 0 -0.03rem#fff,10.4vw 94vh 0 -0.16rem#fff,53.6vw 43.7vh 0 -0.34rem#fff,60.8vw 66.5vh 0 -0.3rem#fff,50.7vw 34.6vh 0 -0.25rem#fff,21.2vw 41.9vh 0 -0.41rem#fff,11.8vw 46.1vh 0 -0.18rem#fff,24.3vw 2.4vh 0 -0.39rem#fff,88.4vw 42.5vh 0 -0.3rem#fff,43.5vw 84.4vh 0 -0.28rem#fff;
  animation-duration: 8s;
}

.layer2.a {
  animation-delay: -4s;
}

.layer3 {
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(6px);
  box-shadow: 86.2vw 74.6vh 0 -0.31rem#fff,0.5vw 51.3vh 0 -0.03rem#fff,21.8vw 18.6vh 0 -0.28rem#fff,76.9vw 88.1vh 0 -0.02rem#fff,35.4vw 22.8vh 0 -0.08rem#fff,14.8vw 92.7vh 0 -0.09rem#fff,92.1vw 6.1vh 0 -0.33rem#fff,80.5vw 14vh 0 -0.16rem#fff,79.8vw 28.3vh 0 -0.29rem#fff,94.7vw 99.7vh 0 -0.25rem#fff,50.2vw 61.6vh 0 -0.25rem#fff,73.7vw 63.1vh 0 -0.44rem#fff,35.3vw 78.8vh 0 -0.5rem#fff,68.5vw 13.9vh 0 -0.02rem#fff,41.2vw 12.6vh 0 -0.19rem#fff,37.5vw 84.9vh 0 -0.21rem#fff,92.4vw 75.5vh 0 -0.36rem#fff,54.4vw 38.6vh 0 -0.19rem#fff,39.8vw 53.7vh 0 -0.46rem#fff,10.4vw 50.5vh 0 -0.39rem#fff,81.3vw 9vh 0 -0.43rem#fff,10.4vw 37.4vh 0 -0.18rem#fff,96.2vw 96.7vh 0 -0.2rem#fff,48.8vw 34.8vh 0 -0.13rem#fff,8vw 48.9vh 0 -0.09rem#fff,40.4vw 68.7vh 0 -0.2rem#fff,59.2vw 40.8vh 0 -0.41rem#fff,85.6vw 74.1vh 0 -0.48rem#fff,29.1vw 25.6vh 0 -0.31rem#fff,17vw 89.7vh 0 -0.26rem#fff,38.9vw 65.5vh 0 -0.07rem#fff,32.3vw 76.1vh 0 -0.03rem#fff,92.4vw 35.3vh 0 -0.13rem#fff,84.4vw 69.4vh 0 -0.07rem#fff,61.1vw 85.2vh 0 -0.25rem#fff,73.3vw 17.1vh 0 -0.32rem#fff,3.8vw 1.3vh 0 -0.01rem#fff,65.1vw 40.6vh 0 -0.27rem#fff,95.9vw 34.9vh 0 -0.22rem#fff,48.5vw 49.2vh 0 -0.22rem#fff,2.2vw 16.4vh 0 -0.01rem#fff,49.2vw 56.7vh 0 -0.09rem#fff,10.9vw 71.3vh 0 -0.17rem#fff,59.3vw 27.8vh 0 -0.13rem#fff,53.2vw 71.3vh 0 -0.14rem#fff,30.2vw 62.6vh 0 -0.24rem#fff,12.4vw 79.3vh 0 -0.44rem#fff,23.6vw 14.9vh 0 -0.29rem#fff,94.2vw 93.7vh 0 -0.41rem#fff,43.9vw 11.6vh 0 -0.05rem#fff,64.2vw 4.5vh 0 -0.19rem#fff,53.4vw 66.9vh 0 -0.17rem#fff,69.8vw 5vh 0 -0.5rem#fff,3.4vw 37.8vh 0 -0.15rem#fff,69.1vw 69.5vh 0 -0.17rem#fff,75.4vw 85.4vh 0 -0.43rem#fff,46.1vw 38.4vh 0 -0.2rem#fff,97.5vw 10.6vh 0 -0.34rem#fff,74.9vw 82.7vh 0 -0.18rem#fff,46.4vw 88.1vh 0 -0.47rem#fff,81.7vw 11.7vh 0 -0.27rem#fff,47.9vw 90.3vh 0 -0.36rem#fff,5.7vw 11.9vh 0 -0.26rem#fff,17vw 93.5vh 0 -0.49rem#fff,24vw 53.1vh 0 -0.34rem#fff,80.5vw 87.9vh 0 -0.44rem#fff,66.4vw 16.7vh 0 -0.29rem#fff,45.2vw 48.6vh 0 -0.14rem#fff,34.1vw 70.5vh 0 -0.4rem#fff,38.5vw 99.4vh 0 -0.23rem#fff,61.2vw 29.7vh 0 -0.48rem#fff,51.9vw 93.2vh 0 -0.07rem#fff,92.3vw 96.9vh 0 -0.3rem#fff,55.6vw 92.4vh 0 -0.17rem#fff,94.8vw 1.4vh 0 -0.42rem#fff,22.8vw 5.7vh 0 -0.11rem#fff,33.5vw 51.6vh 0 -0.24rem#fff,74.4vw 12.5vh 0 -0.38rem#fff,36.5vw 46.4vh 0 -0.08rem#fff,28.6vw 24.3vh 0 -0.13rem#fff,71.8vw 11.1vh 0 -0.41rem#fff,76.4vw 36.8vh 0 -0.45rem#fff,17.5vw 80.4vh 0 -0.41rem#fff,19.3vw 41.9vh 0 -0.01rem#fff,88.4vw 27vh 0 -0.2rem#fff,96.9vw 93.7vh 0 -0.09rem#fff,64.9vw 5.6vh 0 -0.37rem#fff,46.8vw 78.8vh 0 -0.32rem#fff,59.5vw 82.2vh 0 -0.04rem#fff,20.4vw 74.1vh 0 -0.46rem#fff,5.6vw 95.1vh 0 -0.24rem#fff,29.4vw 14.8vh 0 -0.02rem#fff,28.9vw 35.8vh 0 -0.32rem#fff,92.2vw 36.2vh 0 -0.39rem#fff,37.3vw 99.2vh 0 -0.36rem#fff,68.4vw 25vh 0 -0.45rem#fff,69.6vw 39.1vh 0 -0.27rem#fff,73.1vw 14.8vh 0 -0.08rem#fff,67.7vw 71.6vh 0 -0.07rem#fff,20.3vw 18.9vh 0 -0.24rem#fff,89.6vw 48.4vh 0 -0.1rem#fff,16.9vw 98.2vh 0 -0.04rem#fff,8.1vw 97.7vh 0 -0.05rem#fff,56vw 1.7vh 0 -0.14rem#fff,90.6vw 40.4vh 0 -0.28rem#fff,25.4vw 96.7vh 0 -0.12rem#fff,22.4vw 73.7vh 0 -0.48rem#fff,44.9vw 32.5vh 0 -0.1rem#fff,15vw 5.8vh 0 -0.27rem#fff,66.3vw 48.3vh 0 -0.01rem#fff,7.7vw 48vh 0 -0.06rem#fff,47.6vw 49.4vh 0 -0.26rem#fff,3.1vw 96.3vh 0 -0.49rem#fff,1.6vw 58.2vh 0 -0.33rem#fff,77.7vw 59.8vh 0 -0.26rem#fff,1.5vw 2.3vh 0 -0.13rem#fff,61.3vw 20.7vh 0 -0.2rem#fff,83.5vw 30.7vh 0 -0.25rem#fff,72.1vw 90vh 0 -0.46rem#fff,58.5vw 87vh 0 -0.01rem#fff,90.8vw 95.1vh 0 -0.43rem#fff,45.8vw 73.3vh 0 -0.34rem#fff,57.6vw 16.4vh 0 -0.34rem#fff,93.4vw 48.6vh 0 -0.23rem#fff,44.8vw 42.6vh 0 -0.5rem#fff,74.5vw 81.8vh 0 -0.42rem#fff,98.9vw 54.4vh 0 -0.22rem#fff,70vw 49.5vh 0 -0.27rem#fff,83.8vw 91.3vh 0 -0.45rem#fff,65.8vw 72.7vh 0 -0.35rem#fff,34.4vw 54.5vh 0 -0.49rem#fff,34.1vw 81vh 0 -0.08rem#fff,99.3vw 43.9vh 0 -0.32rem#fff,56.3vw 77.4vh 0 -0.04rem#fff,10.7vw 47.1vh 0 -0.05rem#fff,51.8vw 61.1vh 0 -0.37rem#fff,75.5vw 79.4vh 0 -0.34rem#fff,41.6vw 61vh 0 -0.22rem#fff,54.7vw 84.5vh 0 -0.1rem#fff,52.3vw 89.9vh 0 -0.17rem#fff,61.8vw 51.6vh 0 -0.5rem#fff,60.5vw 21.4vh 0 -0.35rem#fff,38.5vw 6.7vh 0 -0.38rem#fff,11.4vw 43.3vh 0 -0.37rem#fff,17.7vw 90.1vh 0 -0.1rem#fff,28.2vw 66vh 0 -0.26rem#fff,89.1vw 29.8vh 0 -0.41rem#fff,60.4vw 20.9vh 0 -0.23rem#fff,68.2vw 24.6vh 0 -0.35rem#fff,88.9vw 16.9vh 0 -0.36rem#fff,43.9vw 16.9vh 0 -0.37rem#fff,96.5vw 33.7vh 0 -0.01rem#fff,96.2vw 73.1vh 0 -0.19rem#fff,91.9vw 43.7vh 0 -0.48rem#fff,94.4vw 50.2vh 0 -0.49rem#fff,87.4vw 63.1vh 0 -0.44rem#fff,87.6vw 6.4vh 0 -0.43rem#fff,17.7vw 50.8vh 0 -0.41rem#fff,13.6vw 37.9vh 0 -0.32rem#fff,17.5vw 26.5vh 0 -0.37rem#fff,92.5vw 99.7vh 0 -0.32rem#fff,91.2vw 63.5vh 0 -0.04rem#fff,43.3vw 96.9vh 0 -0.01rem#fff,68.1vw 29.5vh 0 -0.32rem#fff,72.9vw 20.2vh 0 -0.17rem#fff,45.9vw 24.9vh 0 -0.36rem#fff,10.7vw 32.3vh 0 -0.43rem#fff,57.9vw 42.5vh 0 -0.04rem#fff,83.3vw 61.3vh 0 -0.49rem#fff,72.1vw 42.7vh 0 -0.02rem#fff,28vw 78.1vh 0 -0.5rem#fff,91vw 97.1vh 0 -0.3rem#fff,48.7vw 96.5vh 0 -0.49rem#fff,5vw 66.4vh 0 -0.33rem#fff,79.5vw 92.4vh 0 -0.24rem#fff,97.7vw 89.6vh 0 -0.48rem#fff,45.7vw 42.5vh 0 -0.11rem#fff,60.3vw 47.8vh 0 -0.03rem#fff,15.8vw 5vh 0 -0.04rem#fff,16vw 98vh 0 -0.13rem#fff,40.1vw 2.3vh 0 -0.41rem#fff,40.7vw 48vh 0 -0.39rem#fff,44.9vw 91.2vh 0 -0.26rem#fff,75.5vw 93.9vh 0 -0.48rem#fff,5.5vw 75.8vh 0 -0.31rem#fff,44.3vw 39.9vh 0 -0.45rem#fff,87.6vw 3.4vh 0 -0.48rem#fff,95.8vw 33.6vh 0 -0.46rem#fff,0.4vw 2vh 0 -0.48rem#fff,64.1vw 47.7vh 0 -0.46rem#fff,46.3vw 66vh 0 -0.1rem#fff,73.3vw 3.3vh 0 -0.09rem#fff,86.2vw 30.6vh 0 -0.41rem#fff,74.2vw 33.9vh 0 -0.21rem#fff,37.3vw 90.8vh 0 -0.21rem#fff,88.9vw 90.3vh 0 -0.25rem#fff,27.9vw 24.9vh 0 -0.1rem#fff,31.2vw 28vh 0 -0.07rem#fff,33.8vw 73.6vh 0 -0.32rem#fff,87.5vw 76.5vh 0 -0.25rem#fff,77.5vw 73vh 0 -0.15rem#fff,96.3vw 3.2vh 0 -0.42rem#fff,29.7vw 86.4vh 0 -0.16rem#fff,80.5vw 19vh 0 -0.39rem#fff,91.8vw 52.4vh 0 -0.22rem#fff,27.5vw 44.7vh 0 -0.41rem#fff,3.8vw 83.1vh 0 -0.47rem#fff,93vw 51.5vh 0 -0.25rem#fff,62.5vw 33vh 0 -0.08rem#fff,13vw 26.2vh 0 -0.27rem#fff,51.1vw 9vh 0 -0.03rem#fff,72vw 76.4vh 0 -0.31rem#fff,37.2vw 20.9vh 0 -0.29rem#fff,55.9vw 58.8vh 0 -0.32rem#fff,95.6vw 16.5vh 0 -0.33rem#fff,75.4vw 82.5vh 0 -0.02rem#fff,39.7vw 37.8vh 0 -0.49rem#fff,58.3vw 91.3vh 0 -0.35rem#fff,33.1vw 16.9vh 0 -0.21rem#fff,7.9vw 7.6vh 0 -0.34rem#fff,34.3vw 49.9vh 0 -0.35rem#fff,62vw 17.2vh 0 -0.03rem#fff,49.9vw 89.6vh 0 -0.41rem#fff,25.6vw 56.9vh 0 -0.11rem#fff,57.5vw 70.5vh 0 -0.32rem#fff,85.8vw 58.1vh 0 -0.14rem#fff,4.4vw 12.3vh 0 -0.01rem#fff,38.2vw 6.3vh 0 -0.06rem#fff,21.9vw 66.8vh 0 -0.43rem#fff,61.5vw 58.9vh 0 -0.34rem#fff,70.8vw 42.8vh 0 -0.3rem#fff,34.2vw 16.8vh 0 -0.22rem#fff,13.2vw 57.1vh 0 -0.08rem#fff,72.2vw 9.8vh 0 -0.01rem#fff,45.9vw 35.6vh 0 -0.42rem#fff,36.9vw 40.1vh 0 -0.48rem#fff,20.4vw 79.3vh 0 -0.3rem#fff,9.9vw 61.1vh 0 -0.34rem#fff,3.3vw 56.2vh 0 -0.21rem#fff,84.6vw 82.2vh 0 -0.06rem#fff,42.2vw 55.4vh 0 -0.44rem#fff,53.9vw 61.5vh 0 -0.5rem#fff,31.3vw 88.8vh 0 -0.38rem#fff,90vw 68.2vh 0 -0.16rem#fff,36.2vw 34.6vh 0 -0.1rem#fff,20.4vw 35.7vh 0 -0.21rem#fff,50.4vw 97.2vh 0 -0.05rem#fff,8.7vw 11.2vh 0 -0.01rem#fff,93.8vw 69.5vh 0 -0.06rem#fff,86vw 18vh 0 -0.35rem#fff,6.9vw 86vh 0 -0.36rem#fff,87vw 13.8vh 0 -0.02rem#fff,21.9vw 61vh 0 -0.05rem#fff,69.4vw 29vh 0 -0.32rem#fff,89.8vw 68.2vh 0 -0.24rem#fff,11vw 23.3vh 0 -0.26rem#fff,48.3vw 37.9vh 0 -0.01rem#fff,36.3vw 63.8vh 0 -0.49rem#fff,15.7vw 43vh 0 -0.37rem#fff,73.4vw 30.6vh 0 -0.32rem#fff,64.6vw 40.7vh 0 -0.14rem#fff,43.2vw 63.5vh 0 -0.33rem#fff,9.1vw 81.5vh 0 -0.25rem#fff,4.5vw 93vh 0 -0.5rem#fff,74.4vw 54.2vh 0 -0.27rem#fff,96vw 34.4vh 0 -0.1rem#fff,50.2vw 51.1vh 0 -0.3rem#fff,24.2vw 80.9vh 0 -0.25rem#fff,63.7vw 34.4vh 0 -0.02rem#fff,38.5vw 6.7vh 0 -0.42rem#fff,97.5vw 13.7vh 0 -0.09rem#fff,70.6vw 36.6vh 0 -0.25rem#fff,10.9vw 67.8vh 0 -0.28rem#fff,71vw 31.7vh 0 -0.33rem#fff,90.8vw 29.2vh 0 -0.29rem#fff,98.3vw 95.2vh 0 -0.36rem#fff,73.7vw 67vh 0 -0.19rem#fff,12.2vw 35.2vh 0 -0.44rem#fff,68.9vw 48.3vh 0 -0.2rem#fff,14.1vw 85.9vh 0 -0.02rem#fff,8.3vw 75vh 0 -0.31rem#fff,81.7vw 83.4vh 0 -0.37rem#fff,53.7vw 69.1vh 0 -0.19rem#fff,92.4vw 71vh 0 -0.17rem#fff,98.6vw 2.3vh 0 -0.49rem#fff,55vw 11.1vh 0 -0.42rem#fff,81.5vw 82.3vh 0 -0.45rem#fff,27.3vw 14.1vh 0 -0.23rem#fff,46vw 20.8vh 0 -0.35rem#fff,30.6vw 89.6vh 0 -0.4rem#fff,79.3vw 42.6vh 0 -0.47rem#fff,46.3vw 6.6vh 0 -0.46rem#fff,27.5vw 23.1vh 0 -0.24rem#fff,15.8vw 49.9vh 0 -0.05rem#fff,46.5vw 98.9vh 0 -0.1rem#fff,20.4vw 61vh 0 -0.01rem#fff,16.1vw 95vh 0 -0.06rem#fff,55.3vw 37.6vh 0 -0.28rem#fff,83.6vw 6.4vh 0 -0.44rem#fff,31.4vw 38.8vh 0 -0.17rem#fff;
  animation-duration: 10s;
}

.layer3.a {
  animation-delay: -5s;
}

@keyframes fall {
  100% {
    transform: translateY(200vh);
  }
}
/*snow finish*/

.header {
    position: fixed;
    top: 0px;
    padding-top: 15px;
    width: 100%;
    opacity: 1;
    z-index: 1.9;
    display: flex;
    justify-content: center;

    /*snow*/
    /* background-color: white; */
}

.container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    /* snow */
    /* grid-template-rows: calc(100vh - 171px); */
    grid-template-rows: calc(100vh - 125px);
    justify-items: center;
    align-items: start;
    padding: 2em 0;
}

.container-shows {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 2em 0;
}



.headerspace{
  min-height: 103px;
  display: block;
  background: white;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 3em;
  padding-top: 4em;
}

.messaging {
  padding-top: 0em;
  justify-self: stretch;
  margin-bottom: 20px;
}

/* Play button */


input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  label {
    display: grid;
    border: none;
    background-color: gray;
    --w: 200px;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
  }
  
  .play_pause_icon {
    --w: 50%;
    width: var(--w);
    height: var(--w);
    background: white;
    translate: 0 0;
    transition: all 0.2s ease-in-out;
  }
  
  .play {
    clip-path: polygon(
      20% 0,
      20% 100%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%
    );
    translate: 6% 0;
  }
  
  .playbutton:has(input:checked) .play_pause_icon,
  .pause {
    clip-path: polygon(
      0 0,
      0 100%,
      33.33% 100%,
      33.33% 0,
      66.66% 0,
      100% 0,
      100% 100%,
      66.66% 100%,
      66.66% 0
    );
    translate: 0 0;
  }
  
  .play-2 {
    clip-path: polygon(
      20% 0,
      20% 100%,
      35% 90%,
      35% 90%,
      35% 90%,
      90% 50%,
      35% 10%,
      35% 10%,
      35% 10%
    );
    translate: 6% 0;
  }

  /* end play button */


  /* start playing animation */

  .loader {
    height: 70px;
    /* display:flex; */
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .loader .stroke {
    display: block;
    position:relative;
    background: black;
    height: 100%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;
  }

  @keyframes animate {
    50%{
        height: 20%;
    }

    100%{
        height: 100%;
    }
  }

  .stroke:nth-child(1) {
    animation-delay: 0s;
  }

  .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }

  .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }

  .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }

  .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }

  .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }

  .stroke:nth-child(7) {
    animation-delay: 0s;
  }

  /* end playing animation */

.now-playing {
  text-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 2em;
  text-align: center;
}

.nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    position: fixed;
    left: 0;
    bottom: 0px;
    padding-bottom: 10px;
    /* background-color: white; */
    z-index: 1.9;
} 

.nav img {
    width: 48px;
    background-image: url('/images/snow.png');
}

#snow-pile {
  width: 100%;
}

.messaging p {
    font-size: 1,2rem;
    display: flex;
    justify-content: center;
    margin-top: -2em;
    font-size: 0.7rem;


}

.messaging ul {
    margin: 0 2em;
    margin-top: -2em;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.messaging li {
    text-wrap: wrap;
    font-size: 0.7rem;
}

.shows {
  display: grid;
  justify-self: stretch;
  gap: 2rem;
  margin: 0 1em;
  margin-bottom: 4em;
}

/* Modal styling

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  max-width: 90%;
  padding: 1.3rem;
  max-height: 90vh;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  transform: translate(0, -50px);
}

img {
  max-height: 70vh;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-audio {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.modal-close-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  font-size: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
} */